.App {
  font-family: sans-serif;
  text-align: center;
}

.form-controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.error {
  color: red;
}
